* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: nudista-web, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.hero-title {
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fefefe;
  font-weight: 600;
  max-width: 800px;
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 3.25rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 4rem;
  }
}

.heading {
  position: relative;
  color: #fefefe;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  margin-left: 40px;
  margin-bottom: 1.5rem;
}

.heading::before {
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 30px;
  height: 2px;
  background-color: #AB2B30;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-btn {
  margin-top: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-btn .circle {
  margin-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #AB2B30;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media (min-width: 640px) {
  .hero-btn .circle {
    width: 70px;
    height: 70px;
  }
}

.hero-btn .circle i {
  color: #fefefe;
  font-size: 24px;
  margin-left: 4px;
}

.hero-btn p {
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: #fefefe;
}

.scale {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  height: 150px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  font-size: 3rem;
  color: #fefefe;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.menu-open {
  width: 35px;
  cursor: pointer;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-open .line {
  width: 100%;
  border-top: 3px solid #fefefe;
}

.menu-open .line:nth-child(2) {
  width: 70%;
}

@media (min-width: 1024px) {
  .menu-open {
    display: none;
  }
}

.navbar {
  display: none;
}

@media (min-width: 1024px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .navbar-item {
    list-style-type: none;
    margin-left: 1.5rem;
  }
  .navbar .navbar-item .navbar-link {
    position: relative;
    color: #9E9FA2;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;
  }
  .navbar .navbar-item .navbar-link::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 2px;
    top: -55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fefefe;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .navbar-item .navbar-link:hover::before {
    height: 48px;
  }
  .navbar .navbar-item .active-link {
    color: #fefefe;
  }
  .navbar .navbar-item .active-link::before {
    height: 48px !important;
    background-color: #AB2B30 !important;
  }
}

.menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 16, 23, 0.502);
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fefefe;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 400px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu .menu-item {
  list-style-type: none;
  margin: 1rem 0;
}

.menu .menu-item .menu-link {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: 70px;
  letter-spacing: 0.1em;
}

.menu .active-item {
  position: relative;
}

.menu .active-item .menu-link {
  color: #AB2B30;
}

.menu .active-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 3px;
  background-color: #AB2B30;
}

.menu-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.show {
  opacity: 1;
}

.scrolled {
  height: 90px;
}

.scrolled::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.scrolled .logo {
  color: black;
}

.scrolled .navbar-link {
  color: #43474E !important;
}

.scrolled .active-link {
  color: #0C1017 !important;
}

.scrolled .line {
  border-top: 3px solid #0C1017;
}

.home-hero {
  position: relative;
  height: 100vh;
}

.hero-swiper {
  height: 100vh;
}

.hero-swiper .swiper-pagination {
  display: none;
}

@media (min-width: 1024px) {
  .hero-swiper .swiper-pagination {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fefefe;
  margin: .4rem 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.5;
}

.hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 40px;
  opacity: 1;
}

.home-hero-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 16, 23, 0.702)), to(rgba(12, 16, 23, 0.702))), url(/images/hero-1.jpg);
  background-image: linear-gradient(rgba(12, 16, 23, 0.702), rgba(12, 16, 23, 0.702)), url(/images/hero-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-hero-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 16, 23, 0.702)), to(rgba(12, 16, 23, 0.702))), url(/images/hero-2.jpg);
  background-image: linear-gradient(rgba(12, 16, 23, 0.702), rgba(12, 16, 23, 0.702)), url(/images/hero-2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-hero-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 16, 23, 0.702)), to(rgba(12, 16, 23, 0.702))), url(/images/hero-3.jpg);
  background-image: linear-gradient(rgba(12, 16, 23, 0.702), rgba(12, 16, 23, 0.702)), url(/images/hero-3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-hero-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 16, 23, 0.702)), to(rgba(12, 16, 23, 0.702))), url(/images/hero-4.jpg);
  background-image: linear-gradient(rgba(12, 16, 23, 0.702), rgba(12, 16, 23, 0.702)), url(/images/hero-4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}
/*# sourceMappingURL=main.css.map */