.hero-btn{
    margin-top: 1.5rem;
    cursor: pointer;
    @include flex(flex-start);
    .circle{
        margin-right: 0.75rem;
        @include flex(center);
        width: 50px;
        height: 50px;
        background-color: $red;
        border-radius: 50%;
        transition: all .3s ease-in;
        @include breakpoint(640px){
            width: 70px;
            height: 70px;
        }
        i{
            color: $white;
            font-size: 24px;
            margin-left: 4px;
        }
    }
    p{
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 0.1em;
        color: $white;
    }
}

.scale{
    transform: scale(1.2);
}