.isOpen{
    transform: translateX(0)
}

.fade{
    opacity: 1;
    visibility: visible;
}
.fade-up{
    @extend .fade;
    transform: translate(-50%, 10px);
}

.show{
    display: block;
}

.preload *{
    transition: none !important;
}