@mixin flex($position) {
    display: flex;
    align-items: center;
    justify-content: $position;
}


@mixin breakpoint($point) {
    @media (min-width: $point) {
        @content;
    }
}

@mixin bgImageStyle(){
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}